<div class= "col-6 d-flex justify-content-center">

  <h2> Paris : Offices </h2>
  <p> </p>
  </div>
  <div class="d-flex justify-content-between">
    <div class= "col-8 d-flex justify-content-center">
      <div class="cards">
        <% @offices.each do |office| %>
        <%= link_to office_path(office) do %>
          <div class="card-office">
            <img src="https://res.cloudinary.com/mathieuchap/image/upload/v1621379297/coworking_z6skf9.jpg" class="d-block w-100" alt="...">
            <div class="card-office-infos">
              <div>
                <h2><%= office.title %></h2>
                <p><%= office.address %></p>
                <p><%= office.description %></p>
                <p><%= office.capacity%></p>
              </div>
              <h2 class="card-office-pricing"> <%= office.price %> €</h2>
            </div>
          </div>
           <% end %>
        <% end %>
      </div>
    </div>

    <div id="map"class= "col-4">
      <img  src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png' style="width: 100%">
    </div>
  </div>
