<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All the offices in your area</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @offices.count %> offices out of our <%= Office.count %> on our website.</p>
      <% else %>
        <p>All <%= Office.count %> offices.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @offices.each do |office| %>
      <div class="col-4">
        <div class="office-card">
          <div class="office-card-image" style="background-image: url('<%= office.photo %>')"></div>
          <div class="office-card-content">
            <div class="office-card-title">
              <h4><%= office.name %></h4>
            </div>
            <p><%= office.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= office.number_of_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= office.price_per_night %>
              </div>
            </div>
          </div>
          <div class="office-card-actions">
            <%= link_to 'More info', office_path(office) %>
            <%= link_to 'Edit', edit_office_path(office), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", office_path(office),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
