<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3">
        <h3 class="text-center mb-4 mt-2"> Rent your space </h3>
        <div class="form-css">
        <%= simple_form_for @office do |f| %>
            <%= f.input :title, label: "Create a title for your listing" %>
            <%= f.input :price, label: "What is the daily price you want to rent?" %>
            <%= f.input :address, label: "Where is your office located?" %>
            <%= f.input :description, label: "Describe the area"%>
            <%= f.input :capacity, label: "How many workstations are available?"%>
            <%= f.input :photo, as: :file, label: "Upload your photos" %>

            <%= f.submit class: 'btn-blue-new-office mb-5',  value: "Submit"%>
          <%= link_to 'Back', offices_path %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
