 <div class="container my-5">
  <%# <div class="row"> %>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <tbody>
      <ul class="text-justify mt-5">
        <li><h2 scope="row mt-5">Address :</h2>
            <h2><%= @office.address %></h2></li>
        <li><h2 scope="row">Description :</h2></li>
            <h2><%= @office.description %><h2>
         <li><h2 scope="row">Capacity</h2>
            <h2><%= @office.capacity %></h2></li>
        <li><h2 scope="row">Price :</h2>
           <h2><%= @office.price %></h2></li>
      </div>
      </tbody>
 <div class="list-group">
 <% @office.bookings.each do |booking| %>
      <%= booking.start_date %>
      <%= booking.end_date %>
       <button type="submit" class="btn mb-5">
    <%= f.button :submit, "Book" %>
<% end %>

    </div>
  </div>
</div>


<%= simple_form_for [ @office, @booking ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Book this space", class: "btn btn-primary" %>
<% end %>
