 <div class="container my-5">
  <%# <div class="row"> %>
    <%# <div class="card-show-office1"> %>
    <h1 class="title-office"><%= @office.title %></h1>
  <% if @office.photos.attached? %>
            <%=cl_image_tag @office.photos.first.key, height: 600, width: 400, crop: :fill , class: 'image'%>
          <% else %>
            <img src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="image"/>
            <% end %>
        <%# </div> %>
        <div class="flex-box-office-show">

        <ul class="text-style-show">
           <h3 class="mb-3"> Your office details </h3>

           <% if @office.address != nil %>
             <li><h6>Address :   <%= @office.address %></h6></li>
           <% end %>

            <% if @office.description != nil %>
              <li><h6>Description : <%= @office.description %></h6></li>
            <% end %>

            <% if @office.capacity!= nil %>
               <li><h6>Capacity :  <%= @office.capacity %></h6></li>
            <% end %>

              <% if @office.price!= nil %>
                <li><h6>Price :  <%= @office.price %> €</h6></li>
            <% end %>
        </ul>
        <div>
        <h1>Hello</h1>
        </div>


        <div class="card-show-office">
          <%= simple_form_for [ @office, @booking ] do |f| %>
              <h3 style="calendar">Add your dates below </h3>
            <%= f.input :start_date, :as => "hidden", required: false, input_html: {class: "datepicker", id: "range_start", style: "display: none"} %>
            <%= f.input :end_date, :as => "hidden", required: false, input_html: {class: "datepicker", id: "range_end" }%>
            <%= f.submit "Book this space", class: "btn-blue-show mt-3" %>
           <% end %>
       </div>
    </div>
 </div>

