<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/drojktwel/image/upload/v1623616374/52ee38_n6gdsr.jpg);">

  <div class="container d-flex justify-content-between">
    <div class="pr-3">
      <h1>Send your projects to the moon</h1>
     <%#  <p class="mt-4">Mobile workers, find your workstation of the day</p> %>
    </div>

    <div class="col-12 col-sm-4 search-bar">
      <div class="card-body">
        <p class="text-left"><%= "Search on Apolo" %></p>
        <%= form_tag offices_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control-home",
            placeholder: "  Let's find a place!"
        %>
        <%# <%= text_field_tag :capacity,
            params[:capacity],
            class: "form-control",
            placeholder: "how many are you?" %>

        <%= submit_tag "Start", class: "btn-blue-home" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="footer" style= display: flex;flex-grow: 1>
    Apolo is made with <i class="fas fa-heart"></i> by Audrey & Ji-won
  </div>
</div>

